<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Giỏ hàng</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/jquery.easydropdown.js"></script>
<script src="js/simpleCart.min.js"> </script>
</head>
<body>
	<% include layout/header-pro %>
   <div class="account-in">
   	 <div class="container">
		  <div class="check_box">	 
		<div class="col-md-9 cart-items">
			 <h1>Giỏ Hàng Của Bạn (2)</h1>
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
						});
						});	  
					});
			   </script>
			 <div class="cart-header">
				 <div class="close1"> </div>
				   <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="images/agvk3_sv_rossi_misano2015_helmet_220x293.jpg" class="img-responsive" alt=""/>
						</div>
					   <div class="cart-item-info">
						<h3><a href="#">AGV MISANO2015</a><span>Model No: 6789</span></h3>
						<ul class="qty">
							<li><p>Size : M</p></li>	
						</ul>
						<div class="delivery">
							 <p>Phí dịch vụ : $5.00</p>
							 <span>Giao hàng từ 2-3 ngày</span>
							 <div class="clearfix"></div>
				        </div>	
					   </div>
					   <div class="clearfix"></div>
				    </div>
			 </div>
			 <script>$(document).ready(function(c) {
					$('.close2').on('click', function(c){
							$('.cart-header2').fadeOut('slow', function(c){
						$('.cart-header2').remove();
					});
					});	  
					});
			 </script>
			 <div class="cart-header2">
				 <div class="close2"> </div>
				  <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="images/agvk3_sv_helmet_solid_220x293.jpg" class="img-responsive" alt=""/>
						</div>
					   <div class="cart-item-info">
						<h3><a href="#">AGV SOLID</a><span>Model No: 1234</span></h3>
						<ul class="qty">
							<li><p>Size : L</p></li>
						</ul>
							 <div class="delivery">
							 <p>Phí dịch vụ : $5.00</p>
							 <span>Giao hàng từ 2-3 ngày</span>
							 <div class="clearfix"></div>
				        </div>	
					   </div>
					   <div class="clearfix"></div>
				  </div>
			  </div>		
		 </div>
		 <div class="col-md-3 cart-total">
			 <a class="continue" href="#">Tiếp tục mua hàng</a>
			 <div class="price-details">
				 <h3>Chi tiết đơn hàng</h3>
				 <span>Tạm tính</span>
				 <span class="total1">$200.00</span>
				 <span>Giảm giá</span>
				 <span class="total1">$0.00</span>
				 <span>Phí dịch vụ</span>
				 <span class="total1">$10.00</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <ul class="total_price">
			   <li class="last_price"> <h4>Thành tiền</h4></li>	
			   <li class="last_price"><span>$210.00</span></li>
			   <div class="clearfix"> </div>
			 </ul>
			 <div class="clearfix"></div>
			 <a class="order" href="#">Đặt hàng</a>
			 <div class="total-item">
				 <h4>MÃ GIẢM GIÁ/QUÀ TẶNG</h4>
				 <a class="cpns" href="#">Nhập</a>
				 <p><a href="dangnhap.ejs">Đăng nhập</a> để nhận mã giảm giá</p>
			 </div>
			</div>
			<div class="clearfix"></div>
	     </div>
	  </div>
   </div>
   <div class="map">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.120266360773!2d106.71240001494188!3d10.80209986167278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zxJDhuqFpIGjhu41jIEh1dGVjaA!5e0!3m2!1svi!2sin!4v1540092588309" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
   <% include layout/footer %>
</body>
</html>		