<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Liên hệ với chúng tôi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/jquery.easydropdown.js"></script>
<script src="js/simpleCart.min.js"> </script>
</head>
<body>
	<!- header-->
	<% include layout/header-pro %>
   <div class="men">
   	 <div class="container">
   	  <div class="grid_1">
	   	  <h1>Thông tin liên hệ</h1>
	   	  <p>Nếu bạn gặp rắc rối về sản phẩm hay chất lượng dịch vụ của chúng tôi hãy liên hệ với chúng tôi. . .</p>
      </div>
      <div class="grid_4">
      <div class="grid_2 preffix_1">
	      <ul class="iphone">
	      	<i class="phone"> </i>
	      	<li class="phone_desc">Số điện thoại : +84909 999 xxx </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="iphone">
	      	<i class="flag"> </i>
	        <li class="phone_desc">Website : <a href="http://phuotluon.com">www.phuotluon.com</a></li>
	      	<div class="clearfix"> </div>
	      </ul>
	  </div>
	  <div class="grid_3">
	      <ul class="iphone">
	      	<i class="msg"> </i>
	        <li class="phone_desc">Email : <a href="mailto:phuotluon@gmail.com">phuotluon@gmail.com</a> </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="iphone">
	      	<i class="home"> </i>
	        <li class="phone_desc">Địa chỉ : 475A Điện Biên Phủ, Q.Bình Thạnh </li>
	      	<div class="clearfix"> </div>
	      </ul>
	  </div>
	  <div class="clearfix"> </div>
	 </div>
	 <div class="contact_form">
	 	<h2>Đánh giá về chúng tôi</h2>
	    <form>
			<div class="col-md-6 to">
             	<input type="text" class="text" value="Tên của bạn" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên của bạn';}">
			 	<input type="text" class="text" value="Email của bạn" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email của bạn';}">
			 	<input type="text" class="text" value="Vấn đề của bạn là gì?" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Vấn đề của bạn là gì?';}">
			</div>
			<div class="col-md-6 text">
               <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Tin nhắn của bạn cho chúng tôi</textarea>
            </div>
            <div class="clearfix"></div>
            <div class="but__center"><input type="submit" value="Gửi cho chúng tôi &gt;&gt;"></div>
        </form>
     </div>
    </div>
   </div>
   <div class="map">
	   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.120266360773!2d106.71240001494188!3d10.80209986167278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zxJDhuqFpIGjhu41jIEh1dGVjaA!5e0!3m2!1svi!2sin!4v1540092588309" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
   <% include layout/footer %>
</body>
</html>		