<div class="men_banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="giohang.ejs">
		      <h4><p>Giỏ hàng: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> sản phẩm)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
		      <!--
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
	      -->
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
				<ul class="header_user_info">
			 	 <a class="login" href="dangnhap.ejs">
					<i class="user"> </i> 
					<li class="user_desc">Đăng nhập</li>
			 	 </a>
			 	 <div class="clearfix"> </div>
		    	 </ul>
			 	<ul class="header_user_info">
			 	 <a class="login" href="dangki.ejs">
					<i class="user"> </i> 
					<li class="user_desc">Đăng kí</li>
			 	 </a>
			  	<div class="clearfix"> </div>
		     	</ul>
		 	</div>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Tìm kiếm sản phẩm..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>
				 <!----search-scripts---->
				 <script src="js/classie1.js"></script>
				 <script src="js/uisearch.js"></script>
				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	   </div>
   	  <div class="header_bottom">
	   <div class="logo">
		  <h1><a href="/"><span class="m_1">P</span>hượt</a></h1>
	   </div>
	   <!-- Menu -->
	   <div class="menu">
	     <ul class="megamenu skyblue">
			<li><a class="color2" href="/">Trang chủ</a>
				<!--
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Mũ bảo hiểm</h4>
								<ul>
									<li><a href="men.html">Fullface</a></li>
									<li><a href="men.html">Lật cằm</a></li>
									<li><a href="men.html">3/4</a></li>
									<li><a href="men.html">Nữa đầu</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col2">
							<div class="h_nav">
								<h4>Trends</h4>
								<ul>
									<li class>
										<div class="p_left">
										  <img src="images/MBHT1.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Masei</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="images/MBHT2.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Mũ nửa đầu</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
								</ul>	
							</div>												
						</div>
					  </div>
					</div>
				-->
			</li>
			<li><a class="color2" href="/sanpham.ejs">Sản phẩm</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Balo</h4>
								<ul>
									<li><a href="men.html">Balo laptop</a></li>
									<li><a href="men.html">Balo leo núi</a></li>
									<li><a href="men.html">Balo chống nước</a></li>
									<li><a href="men.html">Balo da</a></li>
									<li><a href="men.html">Balo trẻ em</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Mũ bảo hiểm</h4>
								<ul>
									<li><a href="men.html">Fullface</a></li>
									<li><a href="men.html">Lật cằm</a></li>
									<li><a href="men.html">3/4</a></li>
									<li><a href="men.html">Nữa đầu</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col1">
								<div class="h_nav">
									<h4>Giày</h4>
									<ul>
										<li><a href="men.html">Giày leo núi</a></li>
										<li><a href="men.html">Giày phượt</a></li>
										<li><a href="men.html">Giày trekking</a></li>
										<li><a href="men.html">Xăng đan</a></li>
									</ul>	
								</div>							
						</div>
						<!--
						<div class="col2">
							<div class="h_nav">
								<h4>Trends</h4>
								<ul>
									<li class>
										<div class="p_left">
										  <img src="images/BaloT1.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Balo 3 PUBG</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="images/BaloT2.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Balo da hàn quốc</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>										
								</ul>	
							</div>												
						</div>
					-->
					  </div>
					</div>
				</li>	
				<li><a class="color10" href="/thuonghieu.ejs">Thương hiệu</a>

					<!--<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>Giày</h4>
									<ul>
										<li><a href="men.html">Giày leo núi</a></li>
										<li><a href="men.html">Giày phượt</a></li>
										<li><a href="men.html">Giày trekking</a></li>
										<li><a href="men.html">Xăng đan</a></li>
									</ul>	
								</div>							
							</div>
						<div class="col2">
							<div class="h_nav">
								<h4>Trends</h4>
								<ul>
									<li class>
										<div class="p_left">
										  <img src="images/GiayT1.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Boot phượt</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="images/GiayT2.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Boot da</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>									
								</ul>	
							</div>												
						</div>
						</div>
					</div> -->
				</li>
				<li><a class="color10" href="/khuyenmai.ejs">Khuyến mãi</a></li>
				<li><a class="color7" href="/lienhe.ejs">Liên hệ</a></li>
				<div class="clearfix"> </div>
			</ul>
			</div>
	        <div class="clearfix"> </div>
	        </div>
	    </div>
   </div>